.nav{
    display: flex;
    justify-content: space-evenly;
}
.mid-section{
    display: flex;
    gap: 15px;
    font-weight: 400;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.mid-section >p{
    color: #4d4d4d;
    font-size: 16px;
}
.hero-section{
   display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    font-size: 16px;

}

.client{
    align-items: center;
    margin-right: 10px;
}


.association{
    color: #3a3434;
    display: flex;
}
.pixel-grade{
    display: flex;
    justify-content: right;
    margin-bottom: 500px;
}

.logo{
    align-items: center;
    justify-content: center;
    display: flex;
    gap : 90px
}
.member{
    color: #4D4D4D;
    font-size: 17px;
    text-align: center;
}
.membership{
    color: #756c6c;
}

.national{
    color: #4D4D4D;
    font-size: 17px;
}

.association1{
    color: #756c6c;
}

.club1{
    color: #4D4D4D;
    font-size: 17px;
}

.group{
    color: #756c6c;
}

.membership{
    margin-right: 10px;
}

.organization1{
    display: flex;
    gap: 45px;
    justify-content: center;
    /*align-items: center;*/
    padding: 100px;
}

.national1{
    color: #756c6c;
}

.national{
    color: #4D4D4D;
    font-size: 17px;
    text-align: center;
}

.club {
    color: #4D4D4D;
    font-size: 17px;
    text-align: center;

}
.group1{
    color: #756c6c;
}


.unlock{
    margin-top: 24px;
    display: flex;
    gap:16px;
    justify-content: center;
}

.unlock-img{
    margin-top: 10px;
    margin-left: 120px;
    justify-content: center;
}

.unlock-text{
    padding: 24px;
    width: 600px;
}

.button{
    background-color: #4caf4f;
    color: white;
    border: none;
    border-radius: 2px;
    width: 85px;
    height: 36px;
}




